@font-face {
    font-family: 'MSReferenceSansSerif';
    src: url('fonts/MSReferenceSansSerif.eot');
    src: url('fonts/MSReferenceSansSerif.eot') format('embedded-opentype'),
         url('fonts/MSReferenceSansSerif.woff2') format('woff2'),
         url('fonts/MSReferenceSansSerif.woff') format('woff'),
         url('fonts/MSReferenceSansSerif.ttf') format('truetype'),
         url('fonts/MSReferenceSansSerif.svg#MSReferenceSansSerif') format('svg');
}