/*** [@FONTS] ***/
@font-face {
    font-family: 'MSReferenceSansSerif';
    src: url('fonts/MSReferenceSansSerif.eot');
    src: url('fonts/MSReferenceSansSerif.eot') format('embedded-opentype'),
         url('fonts/MSReferenceSansSerif.woff2') format('woff2'),
         url('fonts/MSReferenceSansSerif.woff') format('woff'),
         url('fonts/MSReferenceSansSerif.ttf') format('truetype'),
         url('fonts/MSReferenceSansSerif.svg#MSReferenceSansSerif') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}