.footer {
	background-color: rgba(0,0,0,0.53);
	height: 75px;
	font-family: 'MSReferenceSansSerif', sans-serif;
	font-size: 11px;
	box-shadow: inset 0 -6px 0 -3px #ff0000;
	&__logo {
		float: left;
		padding-top: 22px;
		img {
			margin-bottom: 10px;
		}
	}
	&__nav {
		float: right;
		padding-top: 30px;
		ul {
			float: left;
			margin: 8px 18px 0 0;
		}
		li {
			display: inline-block;
			margin-left: 18px;
		}
		a {
			color: #fff;
		}
		.language {
			float: right;
			a {
				display: inline-block;
				margin-left: 4px;
			}
		}
	}
	.copy {
		display: block;
		color: #fff;
	}
	&--distrib {

	}
}