/*** [HEADER] ***/
.header {
	&--index {	
		background: $header-bg-index no-repeat;
		background-size: cover;
		height: 100%;
	}
	.container {
		height: 100%;
		position: relative;
	}
	.icon-age {
		position: absolute;
		top: 76px;
		right: 48px;
		z-index: 10;
	}
	&--distrib {
		background: $bg-distrib no-repeat center 70px;
		padding-bottom: 68px;
		height: 138px;
		box-sizing: border-box;
	}
	&--recipes {
		height: 70px;
	}
}
@keyframes anchorPulse {
	from {
		background-color: rgba(255,255,255,0.06);
	}
	to {
		background-color: rgba(255,255,255,0.16);
	}
}