/*** [!HEADER SLIDER] ***/
.header__slider {
	height: 100%;
	.slider,
	.slider__item,
	.bx-viewport,
	.bx-wrapper {
		height: 100%!important;
	}
	.slider__item {
	  	color: #fff;
		background-size: cover;
		background-position: center;
		.text90deg {
			position: absolute;
			top: 355px;
			left: 145px;
		}
	}

	.slider__logo {
		position: absolute;
		top: 150px;
		left: 0;
	}
	.slider__desc {
		max-width: 340px;
		width: 28.3333%;
		position: absolute;
		left: 365px;
		top: 150px;
		z-index: 2;
		p {
			margin-bottom: 34px;
		}
		.btn {
			margin-top: 10px;
		}
	}
	.slider__title {
		font-size: 40px;
		margin-bottom: 18px;
	}
	.slider__img {
		position: absolute;
		right: -38px;
		top: 0;
		z-index: 1;
	}
	.bx-pager {
		position: absolute;
		bottom: 145px;
		left: 53px;
		z-index: 10;
	}
	.bx-pager-link {
		width: 26px;
		height: 26px;
		float: left;
		clear: none;
		display: block;
		margin: 0 6px;
		background-color: rgba(255, 0, 0, 0.28);
		border-radius: 26px;
		position: relative;
		font-size: 0;
		transition: all 0.3s;
	}

	.bx-pager-link {
		&.active {
	 		background-color: #ff0000;
			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 10px;
				background-color: #fff;
				border-radius: 10px;
				left: 50%;
				top: 50%;
				margin: -5px 0 0 -5px;
			}
		}
	 	&:hover {
	 		background-color: #ff0000;
	 	}
	}
}

