/*** [NAV] ***/
.header__nav {
	width: 100%;
	height: 70px;
	background-color: rgba(0,0,0,0.53);
	z-index: 100;
	.logo-nav {
		float: left;
		margin-top: 17px;
		margin-right: 16px;
	}
	.language {
		float: right;
		margin-top: 25px;
		a {
			margin-left: 4px;
		}
	}
	ul {
		float: left;
		line-height: 70px;
	}
	li {
		display: inline-block;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-left: 58px;
		}
	}
	a {
		font-size: 15px;
		text-transform: uppercase;
		color: #fff;
	}
	/*STYLE INDEX PAGE*/
	&--index {
		.logo-nav {
			display: none;
		}
		.language {
			margin-right: -40px;
			a {
				display: block;
				margin-bottom: 4px;
			}
		}
		li {
			&:last-child {
				margin-left: 108px;
			}
		}
		a {
			font-size: 18px;
		}
	}
	/*FIXED MENU*/
	&.not-fixed,
	&.hidden {
		position: absolute;
	}
	&.hidden {
		transform: translateY(-110px);
		ul {
			margin-left: 15px;
		}
	}
	&.fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.9s;
	}
}

/*.header__nav {
	background-color: rgba(0,0,0,0.53);
	width: 100%;
	height: 70px;
	.container {
		position: relative;
	}
	ul {
		line-height: 70px;
		overflow: hidden;
		float: left;
	}
	li {
		float: left;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-left: 58px;
		}
	}
	a {
		font-size: 15px;
		color: #fff;
		text-transform: uppercase;
	}
	&--index {
		position: absolute;
		background-color: transparent;
		transform: translateY(0);
		z-index: 100;
		a {
			font-size: 18px;
		}
		li {
			&:last-child {
				margin-left: 115px;
			}
		}
		.logo-nav {
			display: none;
		}
		.language {
			float: right;
			margin-right: -40px;
			a {
				display: block;
				margin-bottom: 3px;
			}
		}
	}
	.language {
		float: right;
		margin-top: 25px;
		a {
			margin-left: 4px;
		}
	}
	.logo-nav {
		float: left;
		margin-top: 22px;
		margin-right: 16px;
	}
	.active {
		border-bottom: 2px solid #ff0000;
		padding-bottom: 2px;
	}
	&.hide {
		transform: translateY(-120px);
		ul {
			margin-left: 15px;
		}
	}
	&.fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.9s;
		z-index: 100;
		.logo-nav {
			display: block;
		}
		li {
			&:last-child {
				margin-left: 62px;
			}
		}
		.language {
			a {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}*/