/*** [NAV] ***/
.logo-nav {
	display: none;
}
.header__nav {
	background-color: rgba(0,0,0,0.53);
	width: 100%;
	height: 70px;
	position: absolute;
	transform: translateY(0);
	z-index: 100;
	.container {
		position: relative;
	}
	ul {
		line-height: 70px;
		overflow: hidden;
		float: left;
	}
	li {
		float: left;
		margin-left: 16px;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-left: 115px;
		}
	}
	a {
		color: #fff;
		font-size: 18px;
		text-transform: uppercase;
	}
	.active {
		border-bottom: 2px solid #ff0000;
		padding-bottom: 2px;
	}
	&.hide {
		transform: translateY(-120px);
		ul {
			margin-left: 15px;
		}
	}
	&.fixed {
		position: fixed;
		transform: translateY(0);
		transition: transform 0.9s;
		.logo-nav {
			float: left;
			display: block;
			margin-top: 22px;
			margin-right: 16px;
		}
		li {
			&:last-child {
				margin-left: 62px;
			}
		}
		a {
			font-size: 15px;
		}
		.language {
			margin-right: 0;
			a {
				display: inline-block;
				vertical-align: middle;
				margin-left: 4px;
			}
		}
	}
	.language {
		float: right;
		margin-top: 28px;
		margin-right: -40px;
		a {
			display: block;
			margin-bottom: 3px;
		}
	}
	&--notbg {
		background-color: transparent;
	}
}