$header-bg-index: url('../img/layout/header_bg2.jpg');
$anchor-arrow: url('../img/layout/arrow_down.png');
$bg-distrib: url('../img/layout/distrib_header_img.png');

$bg-feedback: url('../img/layout/bg_feedback.png');
$bg-slider-one: url('../img/content_slider/bg-slider-one.png');

$bg-lineup: url('../img/content_slider/redline-up-slider.png');
$bg-linedown: url('../img/content_slider/redline-down-slider.png');

$about-slider-redline: url('../img/layout/slider_line-1.png');
$about-slider-nav-bg: url('../img/layout/about_slider_nav_bg.png');

$catalog-slider-redline: url('../img/layout/slider_line-2.png');
$recipes-intro-bg: url('../img/layout/recipes_header_bg.png');

$slider-loading: url('../img/layout/bx_loader.gif');
$slider-arrow: url('../img/layout/slider_arrow.png');
$social: url('../img/layout/icon-social.png');